@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 align="center">Wines From Spain.</h1>    
    <br/>
    <div class="row">
        <div class="col-md-5" >
            <p class="text-justify">Ciertamente España es tierra de vinos. Es difícil encontrar un rincón de nuestra geografía donde no se cultive la viña. La península ibérica, por su situación geográfica, orografía y tipología de suelo, reúne las condiciones adecuadas para el cultivo y la elaboración del vino; no en vano cuenta con la mayor extensión en el mundo de hectáreas dedicadas al cultivo de la vid.</p>

        </div>  
        <div class="col-md-7">
            <p class="text-capitalize"><img src="~/Content/wine-bottles.jpg" /></p>
        </div>
    </div>
                                              
   
    
</div>

<div class="row">
    <div class="col-md-4">
        <h2>RIOJA</h2>
        <p class="text-justify">
            Rioja es una denominación de origen (DO) de España con la que se distinguen a ciertos vinos elaborados en áreas de las comunidades autónomas de La Rioja y el País Vasco mayoritariamente, y en menor medida en Navarra o Castilla y León
        </p>
        <p><a class="btn btn-warning" href="https://es.wikipedia.org/wiki/Rioja_(vino)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>RIBERA DEL DUERO</h2>
        <p class="text-justify">Ribera del Duero es una denominación de origen a la que se acogen viñedos localizados en Castilla y León (España), dentro una franja de la cuenca del río Duero, de unos 115 kilómetros de longitud y 35 de anchura, situada en la confluencia de las provincias de Soria (19 municipios), Burgos (60), Segovia (4) y Valladolid (19)..</p>
        <p><a class="btn btn-warning" href="https://es.wikipedia.org/wiki/Ribera_del_Duero_(vino)">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>LA MANCHA</h2>
        <p class="text-justify">La Mancha es una denominación de origen de vinos procedentes de una gran zona vinícola que ocupa gran parte de las provincias de Toledo, Albacete, Cuenca y Ciudad Real, en la comunidad autónoma española de Castilla-La Mancha.</p>
        <p><a class="btn btn-warning" href="https://es.wikipedia.org/wiki/La_Mancha_(vino)">Learn more &raquo;</a></p>
    </div>
</div>